*, body, html{
      margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.container {
width: 100%;
padding: 100px 80px 60px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f8f8f8;
  background: linear-gradient(to bottom, white, #d6e9d2);
  color: #111d16;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 60px;
}

.logo {
  height: 300px;
  width: auto;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 15px;
  gap: 20px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1a4d2e;
}

.recipe-hero {
text-align: center;
margin-bottom: 60px;
}


.recipe-hero h1 {
font-size: 48px;
color: #1a4d2e;
margin-bottom: 15px;
}


.subtitle {
font-size: 18px;
margin-bottom: 30px;
}


.recipe-hero img {
width: 100%;
max-width: 400px;
border-radius: 12px;
box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}


.recipe-content {
display: flex;
flex-direction: column;
gap: 30px;
max-width: 900px;
margin: auto;
}


.box {
background: rgba(255,255,255,0.75);
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.box h2 {
color: #1a4d2e;
margin-bottom: 15px;
}


.box ul,
.box ol {
padding-left: 20px;
line-height: 1.8;
}


@media (max-width: 768px) {
.container {
padding: 80px 20px;
}


.recipe-hero h1 {
font-size: 36px;
}
}